<p>
  <b>Name:</b>
  <%=h @category.name %>
</p>

<p>
  <b>Game type:</b>
  <%=h @category.game_type.name %>
</p>


<%= link_to 'Edit', edit_admin_category_path(@category) %> |
<%= link_to 'Back', admin_categories_path %>