<h1>Browse cards</h1>

<ul>
    <li>
        <%= link_to @root_card.name, @root_card %>
        <ul>
        <% @root_card.children.each do |c1| %>
            <li>
                <%= link_to c1.name, c1 %>
                <ul>
                <% c1.children.each do |c2| %>
                    <li><%= link_to c2.name, c2 %></li>
                <% end %>
                </ul>
            </li>
        <% end %>
        </ul>
    </li>
</ul>